*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: #4A98F7;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.drawing_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1050px;
    gap: 10px;
    padding: 10px;
    user-select: none;
    height: 100%;
    overflow: hidden;
}
.drawing_container section{
    border-radius: 7px;
    background-color: #fff;
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.527)
}

.drawing_container .tools_board{
    width: 210px;
    padding: 15px 22px 0px;
    height: 100%;
}
.tools_board .row{
    margin-bottom: 20px;
}
.row .options{
    list-style: none;
    margin: 10px 0 0 5px;
}
.row .options .option{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 10px;
}
.options :where(span, label){
    padding-left: 10px;
    color:#5A6168;
    cursor: pointer;
}
.option .active,
.option :hover img{
    filter: invert(17%) sepia(90%) saturate(3000%) contrast(100%) brightness(100%) hue-rotate(900deg);
}
.option img{
    height: 100%;
    width: 10%;
}
.option:is(:hover, .active) :where(span, label){
    color: #4A98F7;
}
.option #fill_color{
    height: 14px;
    width: 14px;
    cursor: pointer;
}
.option #size_slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}
#fill_color:checked ~ label{
    color:#4A98F7;
}
.colors .options{
    display: flex;
    justify-content: space-between;
}
.colors .option{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.342);
}
.colors .option:nth-child(1){
    background-color: white;
    border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
    background-color: black;
}
.colors .option:nth-child(3){
    background-color: crimson;
}
.colors .option:nth-child(4){
    background-color: greenyellow;
}
.colors .option:nth-child(5){
    background-color: blue;
}
.colors .option::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background:inherit;
    border-radius: inherit;
    border: 2px solid #fff;
}
.colors .option:hover::before{
    transform: translate(-50%,-50%);
    border: 2px solid #fff;
}

.colors .option:first-child::before{
    border: 2px solid #ccc;
}
.colors2 .option:nth-child(1){
    background-color: grey;
}
.colors2 .option:nth-child(2){
    background-color: orangered;
}
.colors2 .option:nth-child(3){
    background-color: pink;
}
.colors2 .option:nth-child(4){
    background-color: yellow;
}
.colors2 .option:nth-child(5){
    background-color: cyan;
}
.color_picker{
    width: 100%;
    background: linear-gradient(45deg,black,white);
    cursor: pointer;
}
.color_picker input{
    width: 100%;
    border: none;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
#fill_color_picker{
    opacity: 0;
}
.buttons button{
    border-radius: 5px;
    width: 100%;
    color: white;
    border: none;
    outline: none;
    padding: 11px 0;
    margin-bottom: 13px;
    background: none;
    cursor: pointer;
    font-size: 0.9rem;
}
.buttons .clear_canvas{
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
}
.buttons .clear_canvas:hover{
    color: white;
    background: #6C757D;
}
.buttons .save_image{
    background: #4A98F7;
    border: 1px solid #4A98F7;
    transition: all 0.3s ease;
}
.buttons .save_image:hover{
    transform: translateY(6%);
    box-shadow: 1px 1px 2px black;
}
.drawing_container .drawing_board{
    flex: 1;
}
.drawing_board canvas{
    width: 100%;
    height: 100%;
}